# ---
# name: 06 Build and Scan

# on:
#   push:
#     branches:
#       - main
#   pull_request:

# jobs:
#   build-image:
#     name: Build Images
#     runs-on: ubuntu-latest
    
#     steps:

#       - name: Set up QEMU
#         uses: docker/setup-qemu-action@v3

#       - name: Set up Docker Buildx
#         uses: docker/setup-buildx-action@v3

#       - name: Login to Docker Hub
#         uses: docker/login-action@v3
#         with:
#           username: ${{ secrets.DOCKERHUB_USERNAME }}
#           password: ${{ secrets.DOCKERHUB_TOKEN }}

#       - name: Build and export to Docker
#         uses: docker/build-push-action@v5
#         with:
#           push: false
#           load: true # Export to Docker Engine rather than pushing to a registry
#           tags: ${{ github.run_id }}
#           target: test
#           cache-from: type=gha
#           cache-to: type=gha,mode=max
#           platforms: linux/amd64

# #NEW: (START) ##########################################################
#       - name: Run Trivy for all CVEs (non-blocking)
#         uses: aquasecurity/trivy-action@master
#         with:
#           image-ref: ${{ github.run_id }}
#           exit-code: 0
#           format: table 
# #NEW: (END) ############################################################

#       - name: Docker Metadata for Final Image Build
#         id: docker_meta
#         uses: docker/metadata-action@v5
#         with:
#           images: bretfisher/docker-ci-automation
#           flavor: |
#             latest=false
#           tags: |
#             type=raw,value=06
#           # comment these out on all but 04-add-metadata.yaml to avoid overwriting image tags
#           # type=raw,value=latest,enable=${{ endsWith(github.ref, github.event.repository.default_branch) }}
#           # type=ref,event=pr
#           # type=ref,event=branch
#           # type=semver,pattern={{version}}
      
#       - name: Docker Build and Push to Docker Hub
#         uses: docker/build-push-action@v5
#         with:
#           push: true
#           tags: ${{ steps.docker_meta.outputs.tags }}
#           labels: ${{ steps.docker_meta.outputs.labels }}
#           cache-from: type=gha
#           cache-to: type=gha,mode=max
#           platforms: linux/amd64,linux/arm64,linux/arm/v7
